services:
  app:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    environment:
      NODE_ENV: production
    ports:
      - '3333:3333'
    networks:
      - dokploy-network
    # âŒ comenta el healthcheck por ahora
    # healthcheck:
    #   test:
    #     [
    #       'CMD',
    #       'node',
    #       '-e',
    #       "require('http').get('http://localhost:3333/health', r => process.exit(r.statusCode === 200 ? 0 : 1))",
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 40s

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    volumes:
      - postgres_volume:/var/lib/postgresql/data
      - ./scripts/db:/docker-entrypoint-initdb.d

    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER} -d ${DB_DATABASE}']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true

volumes:
  postgres_volume:
